body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header,
main,
footer{
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-bottom: 30px;
    display: inline-block;
}

header{
    margin-top: 40px;
}

header > img{
    width: 100px;
    height: 40px;
    object-fit: contain;
    object-position: left;
    float: left;
}

nav{
    margin-top: 10px;
    float: right;
}

nav > a{
    display: inline-block;
    color: #000;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    margin: 0;
    margin-left: 2em;
}

nav > a:first-child{
    margin-left: 0;
}

nav > a:hover{
    color: blueviolet;
    text-decoration: underline;
}

main > div{
    float: left;
    width: 40%;
}

h1{
    font-size: 50px;
    color: #222222;
    font-weight: normal;
}

h1 > span{
    font-weight: bold;
    display: block;
}

div > p{
    font-size: 20px;
}

main > div > a{
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    background-color: purple;
    color: #fff;
    font-size: 16px;
    line-height: 1em;
    padding: 1em 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 2.05em;
    border: 0.05em solid purple;
}

main > div > a:last-child{
    color: purple;
    background-color: #fff;
}

main > div > a:hover{
    box-shadow: 1px 2px 4px 1px #00000088;
}

main > img{
    float: right;
    width: 55%;
}

footer > div{
    float: left;
}

footer > div >a{
    margin-right: 1em;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    color: #999;
}

footer > div >a:last-child{
    margin-right: 0;
}

footer > p{
    float: right;
    margin: 0;
}