body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.container{
    margin-top: calc(50vh - 300px);
    user-select: none;
}

header > img{
    width: 100px;
    height: 40px;
    object-fit: contain;
    object-position: left;
}

nav {
    display: flex;
    gap: 2.5em;
}

nav > a{
    display: inline-block;
    color: #000;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
}

nav > a:first-child{
    margin-left: 0;
}

nav > a:hover{
    color: blueviolet;
    text-decoration: underline;
}

main > div{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

h1{
    font-size: 2.8em;
    line-height: 1em;
    color: #222222;
    font-weight: normal;
}

h1 > span{
    font-weight: bold;
    display: block;
}
.main-title::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: purple;
    margin-top: 0.4em;
}

div > p{
    font-size: 1.25em;
}

main > div > div {
    display: flex;
    gap: 1em;
    align-items: center;
}

main > div > div > a{
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    background-color: purple;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    padding: 1em 2em;
    border-radius: 2.05em;
    border: 0.05em solid purple;
    user-select: none;
}

main > div > div > a:last-child{
    color: purple;
    background-color: #fff;
}

main > div > div > a:hover{
    box-shadow: 1px 2px 4px 1px #00000088;
}

main > img{
    width: 65%;
    user-select: none;
}

footer > div{
    user-select: none;
    display: flex;
    gap: 1em;
}

footer > div >a{

    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    color: #999;
}

@media (max-width: 800px) {
    .container{
        width: 600px;
        margin-left: calc(50% - 300px);
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .container{
        width: 100%;
        margin-left: 0;
        font-size: 10px;
    }
    main > div,
    main > img{
        width: 50%;
    }
}