header {
    background-color: yellow;
    width: 800px;
    margin-left: calc(50% - 40px);
}
main {
    background-color: green;
    width: 800px;
    margin-left: calc(50% - 40px);
}
footer {
    background-color: red;
    width: 800px;
    margin-left: calc(50% - 40px);
}